<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('./include/_header') %>

        <main id="site-main">
            <div class="container">
                <div class="form-title text-center">
                    <h2 class="text-dark">Update User</h2>

                    <span class="text-light">Use the below form to update existing user</span>
                </div>
                <form action="/" method="post" id="update_user">
                    <input type="text" name="id" class="hidden">
                    <div class="edit_user">
                        <div class="form-group">
                            <label for="name" class="text-light">
                                Name: <input type="text" id="name" name="name" value="" placeholder="john doe">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-light">
                                Email: <input type="email" id="email" name="email" value="" placeholder="john@doe.com">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-light">
                                Gender: 
                                <div class="radio inline">
                                    <input type="radio" id="male" name="gender" value="male">
                                    <label for="male">
                                        Male
                                    </label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">
                                        Female
                                    </label>
                        </div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="status" class="text-light">
                                Status: 
                                <div class="radio inline">
                                    <input type="radio" id="active" name="status" value="active">
                                    <label for="active">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="inactive" name="status" value="inactive">
                        <label for="inactive">Inactive</label>
                    </div>
                    </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Update User</button>
            </div>
            </div>
            </form>
            </div>
        </main>
</body>

</html>